.type-subscription {
    position: absolute;
    top: 10px;
    left: 10px;
}
.judul-image{
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: #fff;
    background-color: rgb(0 0 0 / 52%);
    width: 100%;
    padding: 20px;
}
.blog-header{
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}

.image-input {
    position: relative;
    display: inline-block;
    border-radius: 0.42rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-input .image-input-wrapper {
    width: 120px;
    height: 120px;
    border-radius: 0.42rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-input [data-action=change] {
    cursor: pointer;
    position: absolute;
    right: -10px;
    top: -10px;
}

.image-input [data-action=change] input {
    width: 0 !important;
    height: 0 !important;
    overflow: hidden;
    opacity: 0;
}

.image-input [data-action=cancel],
.image-input [data-action=remove] {
    position: absolute;
    right: -10px;
    bottom: -5px;
}

.image-input [data-action=cancel] {
    display: none;
}

.image-input.image-input-changed [data-action=cancel] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.image-input.image-input-changed [data-action=remove] {
    display: none;
}

.image-input.image-input-empty [data-action=remove],
.image-input.image-input-empty [data-action=cancel] {
    display: none;
}

.image-input.image-input-circle {
    border-radius: 50%;
}

.image-input.image-input-circle .image-input-wrapper {
    border-radius: 50%;
}

.image-input.image-input-circle [data-action=change] {
    right: 5px;
    top: 5px;
}

.image-input.image-input-circle [data-action=cancel],
.image-input.image-input-circle [data-action=remove] {
    right: 5px;
    bottom: 5px;
}

.image-input.image-input-outline .image-input-wrapper {
    border: 3px solid #ffffff;
    -webkit-box-shadow: 0 0.5rem 1.5rem 0.5rem rgba(0, 0, 0, 0.075);
    box-shadow: 0 0.5rem 1.5rem 0.5rem rgba(0, 0, 0, 0.075);
}